{{> header }}
<div class="page home">
  <h1>Hallo, {{user}}!</h1>
  <div class="body">
    <div class="section">
      <div class="username"></div>
      <div class="no__login"></div>
      <div class="no_login_text"></div>
      <div class="cards"></div>
      <div class="end__spacing"></div>
      <div class="signout"></div>
    </div>
  </div>
</div>
{{> footer }}
