{{> header }}
<div class="page home">
  <h1>Hallo, {{user}}!</h1>
  <div class="body">
    <div class="section">
      <h1 class="username"></h1>
      <div class="login">
        <form action="login" class="login__form">
          
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Email">
          <label for="password">Wachtwoord</label>
          <input type="password" name="password" id="password" placeholder="Wachtwoord">
          <button id="loginBtn" class="loginBtn">Inloggen</button>
        </form>
        <p>Al een gebruiker? <a href="#/signin" data-navigo>Log hier in!</a></p>
        <p>Nog geen gebruiker? <a href="#/signup" data-navigo>Meld je nu aan!</a></p>
      </div>
    </div>
    Go to <a href="#/about" data-navigo>About page</a><br />
    Go to <a href="#/signup" data-navigo>About page</a><br />
    Go to <a href="#/firebase" data-navigo>Firebase example page</a><br />
    Go to <a href="#/mapbox" data-navigo>Mapbox example page</a><br />
  </div>
</div>
{{> footer }}
