{{> header }}
<div class="page home">
  <div class="body">
    <div class="section">
      <div class="profile"></div>
      <div class="profile__btn">
        <button class="edit__btn">Bewerk profiel</button>
      </div>
    </div>
  </div>
</div>
{{> footer }}
