{{> header }}
<div class="page home">
  <div class="body">
    <div class="section">
      <div class="signup">
        <h1>{{title}}</h1>
        <form action="signup_student" class="signup__form">
          <div class="form__field">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Email" required>
          </div>
          <div class="form__field">
            <label for="first_name">Voornaam</label>
            <input type="text" name="first_name" id="first_name" placeholder="Voornaam" required>
            <label for="last_name">Achternaam</label>
            <input type="text" name="last_name" id="last_name" placeholder="Achternaam" required>
          </div>
          <div class="form_field">
            <label for="password">Wachtwoord</label>
            <input type="password" name="password" id="password" placeholder="Wachtwoord" required>
            <label for="confrim_password">Bevestig wachtwoord</label>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Bevestig wachtwoord" required>
          </div>
          <div class="form_field">
            <label for="phone">Telefoonnummer</label>
            <input type="number" name="phone" id="phone" placeholder="Telefoonnummer" required>
          </div>
          <div class="form_field">
            <label for="street">Straat</label>
            <input type="text" name="street" id="street" placeholder="Straat" required>
            <label for="street_number">Huisnummer</label>
            <input type="number" name="street_number" id="street_number" placeholder="Huisnummer" required>
          </div>
          <div class="form_field">
            <label for="postcode">Postcode</label>
            <input type="text" name="postcode" id="postcode" placeholder="Postcode" required>
            <label for="city">Stad</label>
            <input type="text" name="city" id="city" placeholder="Stad" required>
          </div>
          <div class="form_field">
            <label for="school">Hogeschool/Universiteit</label>
            <select name="school" id="school">
              <option value="" disabled selected>Kies jouw Hogeschool/Universiteit</option>
              <option value="1">HoGent</option>
              <option value="2">UGent</option>
              <option value="3">Artevelde</option>
              <option value="4">KU Leuven</option>
            </select>
          </div>
          <input type="hidden" id="status" value="student">
          <button type="button" id="signupBtn" class="signupBtn">Registreren</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{> footer }}
