{{> header }}
<div class="page home">
  <div class="body">
    <div class="section">
      <div class="signup">
        <h1>{{title}}</h1>
        <div class="signup__btns">
          <div class="signup__btn">
            <a href="#/signup_student" id="reg_choice" class="signup__btn button">Student</a>   
          </div>
          <div class="signup__btn">
            <a href="#/signup_kotbaas" id="reg_choice" class="signup__btn button">Kotbaas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer }}
