{{> header }}
<div class="page home">
  <div class="body">
    <div class="section">
      <div class="signin">
        <h1>{{title}}</h1>
        <form action="signin" class="signin__form">
          <div class="form__field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email" required>
          </div>
          <div class="form_field">
            <label for="password">Wachtwoord</label>
            <input type="password" name="password" id="password" placeholder="Wachtwoord" required>
          </div>
          <div class="signin__btn">
            <button type="button" id="signin__btn" class="signinBtn">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{> footer }}
