{{> header }}
<div class="page home">
  <div class="body">
    <div class="section">
      <div class="register">
        <h1>{{title}}</h1>
        <a href="#/signup_student" id="reg_choice">Student</a>
        <a id="reg_choice">Docent</a>
        <a href="#/signup_student">test</a>
      </div>
    </div>
    Go to <a href="#/about" data-navigo>About page</a><br />
  </div>
</div>
{{> footer }}
