button
    padding: 15px
    width: 100px
    margin-top: 25px

.no_login_btn
    display: flex;
    background-color: #F73859;
    width: 40%;
    padding: 5%;

.border
    border-right-style: inset;
    border-right-color: coral;
    border-right-width: 2%;
