button
    padding: 15px
    width: 100px
    margin-top: 25px

.no_login
    display: flex

    p
        

.no_login_btn

    background-color: #F73859
    width: 38.5%
    padding: 5%
    margin-left: 1%


// .border
//     border-right-style: inset;
//     border-right-color: coral;
//     border-right-width: 2px;
