<section class="header">
    <h2>{{title}}</h2>
    <div class="container">
        {{!-- <input id="toggle" type="checkbox"> --}}
        <label for="toggle" class="toggle-container">
            {{!-- <span class="button button-toggle"></span> --}}
        </label>
        <nav class="nav user__true">
            <ul>
                <li><a href="#/" class="nav__item">Home</a></li>
                <li class="no__user"><a href="#/signin" class="nav__item">Signin</a></li>
                <li class="no__user"><a href="#/signup" class="nav__item">Signup</a></li>
                <li class="user"><a href="#/profile" class="nav__item">Profile</a></li>
                <li class="user kotbaas"><a href="#" class="nav__item">Maak een kot aan</a></li>
                <li class="user"><a href="#" class="nav__item">Logout</a></li>
            </ul>
        </nav>
    </div>
</section>