<section class="header">
    <h2>{{title}}</h2>
    <div class="container">
        {{!-- <input id="toggle" type="checkbox"> --}}
        <label for="toggle" class="toggle-container">
            {{!-- <span class="button button-toggle"></span> --}}
        </label>
        <nav>
            <ul>
                <li><a href="#/" class="nav__item">Home</a></li>
                <li><a href="#/signin" class="nav__item">Signin</a></li>
                <li><a href="#" class="nav__item">Signup</a></li>
                <li><a href="#" class="nav__item">Signup</a></li>
                <li><a href="#" class="nav__item">Signup</a></li>
                <li><a href="#" class="nav__item">Signup</a></li>
            </ul>
        </nav>
    </div>
</section>