._6k_ .img{margin:0;position:absolute}
._51mq{margin-right:3px;vertical-align:-2.9px}
span.alternate_name{color:#7f7f7f;font-weight:normal}
._43f6{border-left:2px solid #dcdee3;margin:12px 0 0 0;padding-left:15px}._5yn2{border-left:2px solid #dcdee3;color:#7f7f7f;margin:10px 0 0 0;padding-left:10px}._uhq{color:#90949c}._5wpt{border-left:2px solid #dcdee3;padding-left:12px}._5pio{color:#90949c;font-size:12px}._49k0{margin-top:4px;text-align:left}._2xzj,._2xzi{margin:5px 0;text-align:left}._2xzi.ltgtranslatedcontent-enter{background-color:#fff9d7}._2xzi.ltgtranslatedcontent-enter.ltgtranslatedcontent-enter-active{background-color:#fff;transition:background-color 2s ease-in}body[dir="rtl"] ._43f9,body[dir="rtl"] ._49k0{direction:rtl}body[dir="ltr"] ._43f9,body[dir="ltr"] ._49k0{direction:ltr}
._45jh{background-color:#f5f6f7;border-color:#ccd0d5;color:#4b4f56}._45jh:hover{background-color:#ebedf0;border-color:#ccd0d5}form.async_saving ._45jh{background-color:#f5f6f7;border-color:#dddfe2;color:#bec3c9}._45ji{margin-right:5px}
.ego_x{float:right;opacity:0}.ego_x_visible{float:right}.ego_unit:hover .ego_x{opacity:1}
._18kf.qpNuxType2646{margin-bottom:12px}
._4tz0{margin:3px 0 3px 6px}._4tz0:first-child{margin:3px 0}._4tz1{margin:4px 0 4px 4px}._4tz1:first-child{margin:4px 0}._4tz2{float:left;margin:0 0 0 4px}._4tz2:first-child{margin:0}
._5pa-{position:relative}
._5qla{margin-top:3px;vertical-align:top}
._495i{padding:11px 10px 10px}
.scrollable{overflow-y:auto}
._42xb{background-position:center center;background-repeat:no-repeat}

#bootloader_G6niP{height:42px;}.bootloader_G6niP{display:block!important;}